.header__logout {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
  text-decoration: none;
  cursor: pointer;
}

.header__logout:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .hheader__logout {
    font-size: 14px;
    line-height: 17px;
  }
}
